.container {
    z-index: 0;
}

#rectangle,
.rectangle {
    background-color: #ccc;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* .rectangle {
    background-color: grey;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.custom-btn {
    margin: 20px;
    height: 50px;
    width: 75px;
    border-radius: 5px;
    z-index: 2;
}

/* input {
    margin: 20px;
} */

/* .color-active {
    background-color: #f1c40f;
} */

.square-active {
    width: 300px;
}

/* .rotate-active {
    transform: rotate(45deg);
} */

.round-active {
    border-radius: 50%;
}

.message {
    margin: 0;
    padding: 0;
    height: 24px;
}

.cp-cont {
    width: 100%;
}